
.background
{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.body
{
   background-image: url('./../../img/garde.jpg');
    background-size : cover;
}

.inTakeInLoad
{
    align-self: center;
    position: relative;
    margin: 5%;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: blue;
    opacity: 0.5   ;
    color:white;
    /* display: inline-flex; */
}

.inTakeInLoad h1
{
    align-self: center;
    text-align: center;

}
.inTakeInLoad h1
{
    border: 5px yellow solid;
}
.inTakeInLoad h2
{
    color: yellow;
    font-weight: bold;
}

.inTakeInLoad h3
{
    color: green;
}

.examen , .consultation, .prescription
{
    border: solid 2px solid;
    margin: 5%;
}

/* .consultation
{
    display: flex;
}

.examen
{
    display: flex;
} */
