nav
{
    position: fixed;
    top:0;
    background-color:#ead6e8 ;
    z-index: 2;
}

.background
{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    z-index: 1;
}