body{
	background-image: url("./../img/medecine9.jpg");
	position: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}
.connexionImages{
	display: flex;
	margin: 14%;
	justify-content: center;


}

.connexionImage{

	display:inline-flex;
}
 
.connexionImag{
	display: inline-flex;

}
p{
	margin-top: 10%;

}