#fix{

	background-image: url("./../img/medecine8.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	/*background-attachment: fixed;*/
}

.container-fluid{
	height: 100%;
}

label{
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-left: 350px;
}
input[type="search"]{
	width: 50%;
	position: relative;
	left: 25%;
	right: 25%;
	height: 90px;
	
}
button[type="reset"]{
	width: 120px;
	margin-right: 30px;
}
button[type="submit"]{
	width: 120px;
	margin-right: 30%;
}
button[type="reset"],button[type="submit"]{
	/*margin-right: 25%;*/
	font-weight: bold;
	font-size: 20px;
}
 