#body
{
	 
	height: 100%;
	background-image: none;
	 /*background-image:url("./../img/medical2.jpg");*/
	 display: inline-flex;
}
#body>.imageNurse
{
	width: 80%;
	height: 100%;
	float: left;
	margin-left: -25px;
	margin-top:12px;
}
#body>.imageNurse>img
{
	width: inherit;
	height: inherit;
}
.btnsubmit{
	display: inline-flex;
}
 
#body>.formCon
{
	/*margin-right: 20px;*/
	width:40%;
	float: right;
	margin-right: -33%;
	height: 250px;
	border-right: 10px;
	position:absolute;
	top: 10%;
	 left: 35%;
	 right:35%;
	 border-radius: 10px;
	 background-color: #fff;
	 box-shadow: 3px 3px 3px 3px #000;	
}
.img1{
	float: left;
	width: 33%;
	height: 100%;
	margin-top: 65px;
	background-color: red;
}
 
.admin
{
	width: 50%;
	height: 240px;
	position:absolute;
	top: 20%;
	 left: 25%;
	 right:25%;
 }
 .title
 {
 	text-align: center;
 }
 input[type='text'],input[type='password']
 {
 	width: 80%;
 	height: 50px;
 	margin-left: 35px;
 }
 
button
{
	float: right;
	margin-right: 40px;
	font-weight: bold;
	font-size: 15px;
}
h1{
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	text-transform: capitalize;
}
